body {
    margin: 0;
    padding: 0;
}

.navbar {}

/*slider*/
.img-slider {
    width: 99.64%;
    height: auto;
}

.carousel-caption {
    background-color: rgba(6, 64, 114, 0.71);
    height: 100%;
    padding: 30px 45px;
    text-align: left;
}

.slider-text-1 {
    top: 0;
    left: 0;
    width: 40%;
}

.slider-text-2 {
    top: 0;
    left: 59.64%;
    padding-top: 10%;
    width: 40%;
}

.slider-text-2 p {
    font-size: 1.5rem;
}

.slider-text-2 h1 {
    font-size: 3rem;
}

.slider-text-3 {
    height: 60%;
    font-size: 2.5rem;
}

.slider-text-3 h2 {
    font-size: 3.5rem;
}

.slider-text-3 h4 {
    font-size: 3rem;
}

.carousel-caption h3 {
    color: #ffff;
}

.promo3x2 {
    width: 35%;
    margin: 0 32%;
    ;
}

.btn-primary {
    background-color: #618fd9;
    border-color: #618fd9;

}

.btn-primary:hover {
    background-color: white;
    border-color: #618fd9;
    color: #618fd9;
    -webkit-box-shadow: 2px 3px 22px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 2px 3px 22px 2px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/*iconos*/
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    width: 8%;
}

.plancha {
    content: url(../img/iconos/plancha.svg);
}

.hilo {
    content: url(../img/iconos/aguja-con-hilo-para-coser-ropa.svg);
}

.lavadora {
    content: url(../img/iconos/lavadora.svg);
}

.domicilio {
    content: url(../img/iconos/furgoneta.svg)
}
.lista {
    content: url(../img/iconos/lista.svg)
}
.quienes {
    content: url(../img/iconos/quienes-somos.svg)
}
.promo {
    content: url(../img/iconos/promocion.svg)
}